[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma5Support/Service

Comment=Plasma service
Comment[ar]=خدمة «بلازما»
Comment[ast]=Serviciu de Plasma
Comment[ca]=Servei del Plasma
Comment[ca@valencia]=Servei de Plasma
Comment[cs]=Služba Plasma
Comment[de]=Plasma-Dienst
Comment[en_GB]=Plasma service
Comment[eo]=Plasma-servo
Comment[es]=Servicio de Plasma
Comment[eu]=Plasma zerbitzua
Comment[fi]=Plasma-palvelu
Comment[fr]=Service de Plasma
Comment[gl]=Servizo de Plasma
Comment[ia]=Servicio de Plasma
Comment[id]=Layanan Plasma
Comment[it]=Servizio di Plasma
Comment[ka]=Plasma-ის სერვისი
Comment[ko]=Plasma 서비스
Comment[nl]=Plasma-service
Comment[nn]=Plasma-teneste
Comment[pa]=ਪਲਾਜ਼ਮਾ ਸਰਵਿਸ
Comment[pl]=Usługa Plazmy
Comment[pt_BR]=Serviço do Plasma
Comment[sk]=Služba Plasma
Comment[sl]=Plasma service
Comment[ta]=பிளாஸ்மா சேவை
Comment[tr]=Plasma hizmeti
Comment[uk]=Служба Плазми
Comment[x-test]=xxPlasma servicexx
Comment[zh_CN]=Plasma 服务
