[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma5Support/DataEngine

Comment=Plasma Data Engine

[PropertyDef::X-KDE-ParentApp]
Type=QString
